.header{
  background: linear-gradient(to left, rgb(6, 230, 230), rgb(4, 170, 170), rgb(2, 70, 70));
  color: white;
  margin: 0;
  padding: 10px;
  height: 60px;
}
      
body{
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(to left, rgb(6, 230, 230), rgb(4, 170, 170), rgb(2, 70, 70));
}

.adminDashboard {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
}

.adminLeftDashboard{
  display: flex;
  flex-direction: column;
  width: 180px;
  color: white;
  border-right: solid rgb(2, 70, 70);
}

.dashboard {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(2, 70, 70);
}
#showAddForm, #showEmployeeTable, #logout {
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 14px;
  margin: 0; 
  text-align: left; 
  color: white;    
}

#showAddForm:hover, #showEmployeeTable:hover, #logout:hover {
  background-color: rgb(2, 70, 70);
}

.adminRightDashboard {
  border-top: solid; 
  border-image: linear-gradient(to left, rgb(6, 230, 230), rgb(4, 170, 170), rgb(2, 70, 70)) 1;
  flex: 1;
}

.dashboardTitle {
  color: white;
  margin: 10px 10px 10px 10px; 
  font-weight: bold;
}

.addEmployeeForm {
  display: none;
  justify-content: center;
}

form {
  margin-top: 20px;
  background-color: rgb(14, 14, 15);
  border: solid 1px gray;
  border-radius: 10px;
  height: 500px;
  width: 400px;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

label {
  color: white;
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
}
      
.inputField {
  margin: 20px 20px 10px 20px;
  padding: 10px;
  width: 340px;
}

.searchField {
  margin: 0 10px 10px 10px;
  padding: 10px;
  width: 340px;
  border: solid 1px lightgray;
  border-radius: 3px;
}

.searchField:hover{
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
}

#department {
  margin: 20px 20px 10px 20px;
  padding: 10px;
  width: 365px;
  color: gray;
}

.formButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin: 20px 20px 10px 20px;
  width: 364px;
  height: 70px;
}

.addButton {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  background-color: rgb(3, 170, 170);
  color: white;
}

.addButton:hover {
  background-color: rgb(2, 150, 150);
}

.cancelButton {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  background-color: gray;
  color: white;
}

.cancelButton:hover {
  background-color: rgb(108, 108, 108);
}

table {
  width: 99%;
  border-collapse: collapse;
  margin-left: 10px;
  background-color: #f4f4f4;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
      
th {
  background: lightgray;
}

tr:hover {
  background-color: lightgray;
}
  
.editButton {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  background-color:  rgb(60, 60, 255);
  color: white;
}
  
.deleteButton {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  background-color: rgb(255, 60, 60);
  color: white;
}